header ul li:nth-of-type(3) {
	text-decoration: overline;
}

* {
  box-sizing: border-box;
}

#canvas {
  position: relative;
  border: solid;
  margin-left: calc((100vw - 600px) / 2);
  background-image: url("https://assets.codepen.io/550547/sewer_drain_clown.png");
}
