
* {
	box-sizing: content-box;
}

body {
    background-color: bisque;
}

#Personajes {
    text-align: center;
    /* display: flex;
    justify-content: center;
    justify-items: center; */
}

#ListaPersonajes {
    color: blue;
    text-align: center;
    margin-top: 2%;
}
