
header ul li:nth-of-type(1) {
	text-decoration: overline;
}

.Container {
	margin: auto;
	width: 95%;
	background-color: bisque;
	border: 3px solid black;
	margin-bottom: 2%;
}

.Container img:first-of-type {
	width: 100%;
	object-fit: contain;
	display: block; /* Asegura que la imagen no tenga espacio extra debajo */
}

.HalloweenInicio {
	display: flex;
}

#CalabazaFestiva1 {
    width: 20%;
}

aside {
	margin: 2%;
	width: 20%;
	background-color: white;
	border: 2px solid black;
	display: block;
	text-align: center;
}

section {
	margin: 2%;
	width: 55%;
	padding: 1%;
	background-color: white;
	border: 2px solid black;
	text-align: justify;
}

section p {
	padding-top: 2%;
	text-align: justify;
}

/* article {
	background-color: black;
	color: white;
} */
