header ul li:nth-of-type(3) {
	text-decoration: overline;
}

* {
  box-sizing: border-box;
}

#canvas {
  /* display: flex;
  justify-content: center;
  justify-items: center; */
  position: relative;
  border: solid;
  margin-top: 2%;
  background-image: url("https://assets.codepen.io/550547/sewer_drain_clown.png");
}

audio {
  margin: auto;
}
